<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<fieldset>
    <legend>Recruitment</legend>
    <form th:object="${recruitmentUpdateForm}" th:action="@{'/api/v1/recruitments'}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{recruitmentUrl}">
        <table width="450" border="1" align="center">
            <tr>
                <td width="150" align="left">
                    <label> FirstName </label>
                </td>
                <td>
                    <input type="text" th:field="*{firstName}" placeholder="FirstName" required>
                </td>
            </tr>
            <tr>
                <td width="150" align="left">
                    <label> LastName </label>
                </td>
                <td>
                    <input type="text" th:field="*{lastName}" placeholder="LastName" required>
                </td>
            </tr>

            <tr>
                <td width="150" align="left">
                    <label> Email </label>
                </td>
                <td>
                    <input type="email" th:field="*{email}">
                </td>
            </tr>

            <tr>
                <td width="150" align="left" valign="top">
                    <label>Adress </label>
                </td>
                <td>
	 			<textarea rows="5" cols="35" th:field="*{addressLine}">

	 			</textarea>
                </td>
            </tr>
            <!--  ---------------------------------------------------------------------------- -->

            <tr>
                <td width="150" align="left">
                    <label>Country</label>
                </td>
                <td>
                    <input type="text" th:field="*{country}" placeholder="country">
                </td>
            </tr>

            <!--  ---------------------------------------------------------------------------- -->

            <tr>
                <td width="150" align="left">
                    <label>Region</label>
                </td>
                <td>
                    <input type="text" th:field="*{region}" placeholder="region">
                </td>
            </tr>
            <tr>
                <td width="150" align="left">
                    <label>City</label>
                </td>
                <td>
                    <input type="text" th:field="*{city}" placeholder="city">
                </td>
            </tr>

            <tr>
                <td width="150" align="left">
                    <label> PostalCode </label>
                </td>
                <td>
                    <input type="text" th:field="*{postalCode}" placeholder="PostalCode" required>
                </td>
            </tr>

            <tr>
                <td width="150" align="left">
                    <label> HomePhone </label>
                </td>
                <td>
                    <input type="text" th:field="*{homePhone}" placeholder="HomePhone" required>
                </td>
            </tr>

            <tr>
                <td width="150" align="left">
                    <label> MobilePhone </label>
                </td>
                <td>
                    <input type="text" th:field="*{mobilePhone}" placeholder="MobilePhone" required>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="submit" >
                </td>

            </tr>
        </table>

    </form>
</fieldset>

</body>
</html>